body{
    margin: 0;
}

#container{
    width:800px;
    margin: auto;
    margin-top: 0px;
    background-color: #ebebeb;
}
#header{
    width:100%;
    height:150px;
    background-color: aqua;
}
#logo{
    height:100%;
    width:25%;
    float:left;
    background-color: blanchedalmond;
}
#logo img{
    width:80%;
    margin:0px 0px 10px 20px;
    text-align: center;
}
#slogan{
    height: 100%;
    width:75%;
    float:right;
    background-color: lightblue;
}
#slogan h1{
    text-align:center;
    margin-top:55px;
}
#slogan img{
    width:100%;
    height:100%;
}
#slogan p{
    margin: 10px 10px 0px 10px;
    height:100%;
    width:100%;
}
#nav{
    width:100%;
    height:50px;
    background-color: black;
}
#nav ul{
    list-style: none;
    margin:0px;
    padding:2px;
}
#nav ul li{
    float:left;
    margin-left:5px;
}
#nav ul li a{
    text-decoration: none;
    display: block;
    padding: 15px 12px 10px 12px;
    background-color: black;
    color:white;
}
#nav ul li a:hover{
    background-color: white;
    color:black;
    border-radius: 10px;
}
#article{
    width:70%;
    height:500px;
    background-color: blueviolet;
    float:left;
    padding:0px;
}
#content{
    padding:0px;
    margin:0px;
    width:90%;
    margin-left: 15px;
}
#content h1,p,img{
    margin:5px;
}
#sidebar{
    width:30%;
    height: 500px;
    background-color:orangered;
    float:right;
}
#footer{
    width:100%;
    height:40px;
    background-color: salmon;
    clear:both;
}